body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;

}

.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #111;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: red;
}


.main-header {
  text-align: center;
  padding: 40px 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}

.main-content {
  flex: 2;
}

.sidebar {
  flex: 1;
  background-color: #080808;
  padding: 20px;
  border: 1px solid red;
}

.image-section img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 20px auto;
}

button {
  background-color: black;
  color: white;
  border: 2px solid red;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

button:hover {
  box-shadow: 0 0 15px red;
}

