
body {background-color: rgb(0, 0, 0);}
h1   {color: rgb(255, 255, 255);}
p    {color: rgb(255, 255, 255);}
li   {color: rgb(255, 255, 255)}
h2   {color:rgb(255, 255, 255)}
.outline-text-shadow {color:rgb(255, 255, 255)}
href  {color: rgb(0, 0, 0)}
button {
  background-color: black;
  color: white;
  border: 2px solid red;
  padding: 10px 18px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #111;
  box-shadow: 0 0 10px red;
}